<html>
    <head>    
        <meta charset="utf-8" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://webmedico.net/Scripts/moment.js"></script>
        <script src="https://webmedico.net/Scripts/moment-with-locales.js"></script>
        <style>
            body {
                font: 10px "Tahoma" !important;
                width: 210mm;
                height: 148mm;
            }
            
            hr {
                border-top-color: #{{ColorLines}} !important;
                max-width:;
                min-width:;
                min-height:;
                max-height:;
            }
            
            .recetalbl {
                font-weight: bold;
                padding-left:5mm;
            }
            
            .receta {
                min-width:203mm;
                max-width:203mm;
                min-height:143mm;
                max-height:143mm;
                padding-top:5mm;
            }
            
            .receta-side {
                min-width:50%;
                max-width:50%;
                min-height:138mm;
                max-height:138mm;
            }
            
            .dontgrow {
                display: inline-block;
                white-space:pre-line;
                overflow:hidden; 
                text-overflow:ellipsis;
                max-height: 90mm;
            }
            
            .dontgrow2 {
                display: inline-block;
                white-space:pre-line;
                overflow:hidden; 
                text-overflow:ellipsis;
                max-height: 115mm;
            }
            
            .firma {
                display: inline-block;
                white-space:pre-line;
                overflow:hidden; 
                text-overflow:ellipsis;
                max-height: 10mm;
            }
            
            .diagnostico {
                display: inline-block;
                white-space:pre-line;
                overflow:hidden; 
                text-overflow:ellipsis;
                max-height: 9mm;
            }
            
            .footerPrescription {
                text-align: center;
                font: 10px tahoma;
                padding-left: 5mm;
                padding-top: 2mm;
                min-height:21mm;
                max-height:21mm;
                display: inline-block;
                white-space:pre-line;
                overflow:hidden; 
                text-overflow:ellipsis;
            }
            .imageFooter {
                float:right;
                padding-top:2px;
                padding-right:5px;
                min-width:30mm;
                max-width:30mm;
                max-height:19mm;
            }
            
            .headerReceta {
                text-align: left;
                font: 10px tahoma;
                max-height:24mm;
                display: inline-block;
                white-space:pre-line;
                overflow:hidden; 
                text-overflow:ellipsis;
            }
        </style>
    </head>
    <body>
        
        <div class="receta">
            <div class="receta-side" style="float:left;">
                <div width="100%" style="border-bottom:1px solid;min-height:24mm;max-height:24mm;">
                    <div style="width:50%; float:right;padding-right:5mm;">
                        <img class="pull-right" src="data:image/gif;base64,{{HeaderLogo}}" style="min-height:88px;min-width:45mm;max-height:88px;max-width:45mm;"/>
                    </div>
                    <div style="width:50%;padding-left:5mm;">
                        <p class="headerReceta">{{PrinterHeader}}</p>
                    </div>
                </div>
                <div style="min-width=101mm;padding-top:5mm;padding-right:10mm;">
                    <span style="margin-left:110px">{{#if Receta.Ciudad}}{{Receta.Ciudad}}, a {{else}}Quito, a {{/if}} <span id="DatePrint"></span></span>
                </div>
                <div style="min-width=101mm;padding-top:5mm;padding-right:10mm;">
                    <span class="recetalbl"><em>Rp:</em></span><span>&nbsp;&nbsp;{{PatientName}}</span>
                </div>
                <div style="min-height:80mm;max-height:80mm;min-width=101mm;">
                     <div style="min-height:12mm;max-height:12mm;min-width=101mm;padding-top:3mm;padding-left:5mm;padding-right:5mm;">
                        {{#if Receta.Diagnostico}}
                            <span class="diagnostico" style="white-space:pre-line;"><strong>Diagnóstico:</strong>&nbsp;&nbsp;{{Receta.Diagnostico}}</span>
                        {{/if}}
                    </div>
                    {{#if Receta.Prescriptions}}
                        <div style="min-height:55mm;max-height:55mm;min-width=101mm;padding-top:5mm;padding-left:7mm;padding-right:5mm;">
                            <span class="dontgrow">{{Receta.Prescriptions}}</span>
                        </div>
                    {{/if}}
                    <div style="min-height:12mm;max-height:12mm;min-width=101mm;padding-top:2mm;padding-left:7mm;padding-right:5mm;">
                        <span class="firma" style="white-space:pre-line;">{{Receta.Firma}}</span>
                    </div>
                </div>
                <div width="100%" style="border-top:1px solid;min-height:21mm;max-height:21mm;">
                    {{#if FooterLogo}}
                    <div class="imageFooter">
                        <img class="pull-right" src="data:image/gif;base64,{{FooterLogo}}" style="max-width:113px;max-height:45px;min-width:113px;min-height:45px;"/>
                    </div>
                    {{/if}}
                    <div style="{{#if FooterLogo}}width:70%;{{/if}}max-height:20mm;">
                        <p class="footerPrescription">{{PrinterFooter}}</p>
                    </div>
                </div>
            </div>
            <div class="receta-side" style="float:right;border-left:1px solid;border-style: none none none dashed">
                
                <div style="border-bottom:1px solid;min-height:24mm;max-height:24mm;">
                    <div style="width:50%; float:right;padding-right:5mm;">
                        <img class="pull-right" src="data:image/gif;base64,{{HeaderLogo}}" style="min-height:88px;min-width:45mm;max-height:88px;max-width:45mm;"/>
                    </div>
                    <div style="width:50%;padding-left:5mm;">
                        <p class="headerReceta">{{PrinterHeader}}</p>
                    </div>
                </div>
                
                <div style="min-width=101mm;padding-top:13mm;padding-right:10mm; padding-left:2mm;">
                    <span id="EdadPaciente" class="recetalbl">Edad: {{PatientAge}}</span>
                </div>
                
                <div style="min-width=101mm;padding-top:3mm;padding-right:10mm; padding-left:2mm;">
                    <span class="recetalbl">INDICACIONES:</span>
                </div>
                
                {{#if Receta.Indications}}
                    <div style="min-height:88mm;max-height:88mm;min-width=101mm;padding-top:5mm;padding-left:7mm;padding-right:7mm;">
                        <span class="dontgrow2">{{Receta.Indications}}</span>
                    </div>
                {{/if}}
                
                <div style="min-width=101mm;padding-top:1mm;padding-right:15mm;">
                    <span class="recetalbl">LA PROXIMA CITA: </span><div style="float:right;border-bottom:1px solid;min-width:50mm;">&nbsp;</div>
                </div>
            </div>
            
        </div>

        
        <img src="data:image/gif;base64,{{HeaderLogo}}" style="display:none;" />
        <img src="data:image/gif;base64,{{FooterLogo}}" style="display:none;" />
    </body>
</html>

<script>
    var now = moment().locale("es").format('dddd D MMMM YYYY');
    
    document.getElementById("DatePrint").innerHTML = now;
    var edad =  '{{PatientAge}}';
        edad1 = moment(edad, "DD/MM/YYYY").format("YYYY-MM-DD");
        if ('{{PatientAge}}' != null) {
            var now = moment().format("YYYY-MM-DD");
          var edad2 = preciseDiff(edad1, now);
          console.log("edad2  "+edad2)
             document.getElementById("EdadDePaciente").innerHTML ='<b>Edad Paciente: </b>' + edad2; 
            //$('#EdadDePaciente').html('<b>Edad Paciente: </b>' + edad);

        }
        
        
        var STRINGS = {
            nodiff: '',
            year: 'a\u00f1o',
            years: 'a\u00f1os',
            month: 'mes',
            months: 'meses',
            day: 'd\u00EDa',
            days: 'd\u00EDas',
            hour: 'hour',
            hours: 'hours',
            minute: 'minute',
            minutes: 'minutes',
            second: 'second',
            seconds: 'seconds',
            delimiter: ' '
        };

        function preciseDiff (d1, d2, returnValueObject) {
            var m1 = moment(d1), m2 = moment(d2), firstDateWasLater;

            m1.add(m2.utcOffset() - m1.utcOffset(), 'minutes'); // shift timezone of m1 to m2

            if (m1.isSame(m2)) {
                return STRINGS.nodiff;
            }
            if (m1.isAfter(m2)) {
                var tmp = m1;
                m1 = m2;
                m2 = tmp;
                firstDateWasLater = true;
            } else {
                firstDateWasLater = false;
            }

            var yDiff = m2.year() - m1.year();
            var mDiff = m2.month() - m1.month();
            var dDiff = m2.date() - m1.date();
            var hourDiff = m2.hour() - m1.hour();
            var minDiff = m2.minute() - m1.minute();
            var secDiff = m2.second() - m1.second();

            if (secDiff < 0) {
                secDiff = 60 + secDiff;
                minDiff--;
            }
            if (minDiff < 0) {
                minDiff = 60 + minDiff;
                hourDiff--;
            }
            if (hourDiff < 0) {
                hourDiff = 24 + hourDiff;
                dDiff--;
            }
            if (dDiff < 0) {
                var daysInLastFullMonth = moment(m2.year() + '-' + (m2.month() + 1), "YYYY-MM").subtract(1, 'M').daysInMonth();
                if (daysInLastFullMonth < m1.date()) { // 31/01 -> 2/03
                    dDiff = daysInLastFullMonth + dDiff + (m1.date() - daysInLastFullMonth);
                } else {
                    dDiff = daysInLastFullMonth + dDiff;
                }
                mDiff--;
            }
            if (mDiff < 0) {
                mDiff = 12 + mDiff;
                yDiff--;
            }

            if (returnValueObject) {
                return {
                    "years": yDiff,
                    "months": mDiff,
                    "days": dDiff,
                    "hours": hourDiff,
                    "minutes": minDiff,
                    "seconds": secDiff,
                    "firstDateWasLater": firstDateWasLater
                };
            } else {
                return buildStringFromValues(yDiff, mDiff, dDiff, hourDiff, minDiff, secDiff);
            }


        };

        function buildStringFromValues(yDiff, mDiff, dDiff, hourDiff, minDiff, secDiff) {
            var result = [];

            if (yDiff) {
                result.push(pluralize(yDiff, 'year'));
            }
            if (mDiff) {
                result.push(pluralize(mDiff, 'month'));
            }
            if (dDiff) {
                result.push(pluralize(dDiff, 'day'));
            }
            if (hourDiff) {
                result.push(pluralize(hourDiff, 'hour'));
            }
            if (minDiff) {
                result.push(pluralize(minDiff, 'minute'));
            }
            if (secDiff) {
                result.push(pluralize(secDiff, 'second'));
            }

            return result.join(STRINGS.delimiter);
        }

        function pluralize(num, word) {
            return num + ' ' + STRINGS[word + (num === 1 ? '' : 's')];
        }
    
</script>