<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/moment-precise-range.js"></script>

<html>
    <head>    
        <meta charset="utf-8" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://webmedico.net/Scripts/moment.js"></script>
        <script src="https://webmedico.net/Scripts/moment-with-locales.js"></script>
        <style>
            body {
                font: 11px "Tahoma" !important;
                 margin: 0;
        padding: 0;
        background-color: white;
        font: 12pt "Tahoma";
            }
            
            hr {
                border-top-color: #{{ColorLines}} !important;
            }
            
            table.table-striped th, table.table-bordered th, table.table-striped td, table.table-bordered td {
              font-size : 10px;
              font-family : Tahoma;
            }
             * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .page {
        width: 14.9cm;
        min-height: 21cm;
        max-height: 21cm;
        /*padding-top: 2.6cm;
        padding-bottom: 2.3cm;*/
        /*margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;*/
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .subpage {
        padding: 0cm;
        /*border: 1px solid black;*/
        height: 130mm;
        max-height: 130mm;
        /*outline: 2cm #FFEAEA solid;*/
    }

    .prescripcionOut {
        padding: 5px !important;
        float: left;
        width: 50%;
        font-size: 12px;
    }

    .prescripcionOut2 {
        padding: 5px !important;
        float: left;
        height: 111mm;
        width: 50%;
    }

    .spliter {
        width: 1px;
        height: 250px;
        border: 1px solid gray;
    }

    .tabla {
        height: 6mm;
        max-height: 6mm;
        min-height: 6mm;
    }

    .indicacionesOut {
        width: 50%;
        padding: 10px !important;
        float: right;
        font-size: 12px;
        height: 80px;
        padding-top: 10px;
        max-width: 500px;
        margin-left: 400px;
        padding-bottom: 10px;
        position: fixed;
        top: 200px;
    }

    #fecha-ciudad {
        margin-top: 10mm;
        margin-left: 90mm;
        font-size: 11px;
    }

    #fecha {
        margin-top: 10mm;
        margin-left: 10mm;
        font-size: 11px;
        float: left;
    }


    #NombreDePaciente {
        margin-top: 3mm;
        margin-left: 10mm;
        font-size: 11px;
        float: left;
    }


    #Direccion {
        margin-top: 3mm;
        margin-left: 90mm;
        font-size: 11px;
    }

    #RUC {
        margin-top: 3mm;
        margin-left: 10mm;
        font-size: 11px;
        float: left;
    }

    #Telefono {
        margin-top: 3mm;
        margin-left: 90mm;
        font-size: 11px;
    }

    #Cantidad {
        margin-top: 8mm;
        margin-left: 13mm;
        font-size: 11px;
        width: 14mm;
        text-align: center;
        padding: 0px;
    }

    #Descripcion {
        margin-top: 8mm;
        margin-left: 25mm;
        font-size: 11px;
        width: 83mm;
        height: 6mm;
        padding: 0px;
    }

    #PacienteDiagnostico {
        margin-top:30mm;
        margin-left: 25mm;
        font-size: 10px;
        max-height: 26mm;
        padding: 0px;
        min-height: 26mm;
    }


    #ValorUnitario {
        margin-top: 8mm;
        margin-left: 107mm;
        font-size: 11px;
        width: 16mm;
        padding: 0px;
    }

    #ValorTotal {
        margin-top: 8mm;
        margin-left: 123mm;
        font-size: 11px;
        width: 17mm;
        padding: 0px;
    }

    #tablaDatos {
        margin-top: 8mm;
        margin-left: 8mm;
    }

    #SubTotal {
        margin-top: 2mm;
        margin-left: 122mm;
        font-size: 11px;
    }

    #Iva0 {
        margin-top: 4mm;
        margin-left: 122mm;
        font-size: 11px;
    }

    #Total {
        margin-top: 5mm;
        margin-left: 122mm;
        font-size: 11px;
    }

    #Iva12 {
        margin-top: 6mm;
        margin-left: 122mm;
        font-size: 11px;
    }

    #Ivatexto {
        margin-top: 6mm;
        margin-left: 112mm;
        font-size: 11px;
        float: left;
    }

    #Cheque {
        margin-top: 0mm;
        margin-left: 45mm;
        float: left;
    }

    #Efectivo {
        margin-top: 5mm;
        margin-left: 45mm;
        float: left;
    }

    #Transferencia {
        margin-top: 0mm;
        margin-left: 90mm;
        float: left;
    }

    #Tarjeta {
        margin-top: 5mm;
        margin-left: 90mm;
        float: left;
    }


    #Diagnostico {
        margin-top: 380px;
        font-size: 14px;
        margin-left: 25px;
        height: 6mm;
    }

    #indicaciones {
        margin-left: 25px;
        margin-top: 85px;
        font-size: 14px;
    }

    #FirmaOut {
        width: 50%;
        position: fixed;
        margin-top: 360px;
    }

    #Firma {
        text-align: center;
        font-size: 12px;
    }

    #contenido {
        width: 100%;
    }


    @@page {
        size: A4;
        margin: 0;
    }

    @@media print {
        html, body {
            width: 210mm;
            height: 179mm;
        }

        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
    } 
            
        </style>
    </head>
    <body>

<div class="receta container-fluid">
    <div class="page">
        <div class="subpage">
            <div class="contenido">
              

                <div  style="width: 100%;">

                    <center><div style="margin-top:20mm"><b> ESTADO DE CUENTA</b></div></center>

                    <div id="fecha"><b> <span id="DatePrint"></span></b></div>

                    <div id="fecha-ciudad"><b>Ciudad:</b>{{PacienteCiudad}} <span id="DatePrint"></span></div>


                    <div id="NombreDePaciente">
                      <b> Paciente: </b> {{PacienteRazonSocial}}
                    </div>
                    <div id="Direccion">
                        <b> Dirección:</b>  {{PacienteDireccion}}
                    </div>

                    <div id="RUC"> <span id="rucrazon"><b>Cédula/RUC:</b>{{PacienteCedula}}</span></div>
                    <div id="Telefono"><span><b>Teléfono:</b>{{PacienteTelefono}}  </span></div>
                    <hr>

                    </br>
                    </br>
                    <center><div style="font-size:14px"><span><b>PRODUCTOS/INSUMOS</b> </span></div></center>
                    <table id="tablaDatos">
                        
                        {{#each Productos}}
                            <tr class="tabla">
                                <td id="Cantidad">

                                   {{cantidad}}

                                </td>
                                <td id="Descripcion">

                                    
                                    {{descripcion}}

                                </td>
                                <td id="ValorUnitario">

                                   {{valorunitario}}

                                </td>
                                <td id="ValorTotal">

                                    {{valortotal}}

                                </td>
                            </tr>
                    
                        {{/each}}

                    </table>

                    <hr>
                    </br>
                    </br>
                    <center><div style="font-size:14px"><span><b>SERVICIOS/MEDICOS</b> </span></div></center>
                    <table id="tablaDatos">
                       
                        {{#each Servicios}}
                            <tr class="tabla">
                                <td id="Cantidad">

                                    {{cantidadServicio}}

                                </td>
                                <td id="Descripcion">

                                    {{descripcionServicios}}

                                </td>
                                <td id="ValorUnitario">

                                   {{valorunitarioServicios}}

                                </td>
                                <td id="ValorTotal">
                                    {{valortotalServicios}}
                                   
                                </td>
                            </tr>
                        
                        {{/each}}
                    </table>


                    <hr>
                   
                    <div id="SubTotal">
                    <b>SubTotal:</b>  {{Cobros.Total}}
                    </div>
                    <div id="Iva0">
                    <b>Iva 0%:</b>   0
                    </div>
                    <div id="Ivatexto">
                   
                    </div>
                    <div id="Iva12">
                    <b>Iva 12%:</b>  {{Cobros.IVA}}
                    </div>
                    <div id="Total">
                    <b> Total: </b> {{Cobros.TotalFinal}}
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
{{#if Firma}}
                <div width="100%" style="text-align:center;position: absolute;left: 0;right: 0;margin-left: auto; margin-right: auto; bottom:0;">
                    <h4><strong><pre style="border: none;">{{Firma}}</pre></strong> </h4>
                </div>
                    {{/if}}
        <img src="data:image/gif;base64,{{HeaderLogo}}" style="display:none;" />
        <img src="data:image/gif;base64,{{FooterLogo}}" style="display:none;" />
    </body>
</html>

<script>
    var now = moment().locale("es").format('dddd D MMMM YYYY');
    
    document.getElementById("DatePrint").innerHTML = now;
    
</script>